<div id="scoped-content">
<style type="text/css" scoped>
			table{
				Algin:left;
			}
			#content{
				align: left;
			}

      td{
        text-align: left;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        border-radius: 20px;
        padding: 6px;


      }
      .green-result
      {
      	background: #0c0;
      	color: #000;
      }

      .red-result
       {
         background: red;
         color: #000;
       }
      .grey{

				background-color: #F4F4F4;
      }

			.white{
				background-color: #FCFCFC;
			}




  </style>
	<br>
<div id="content">
	<table>
		<tr class="white">
			<td> </td>
			<td> Titel </td>
			<td> Pfad zum Test </td>
		</tr>
		<hr>
		<!-- BEGIN exercises -->
		<tr class="white">
			<td class="std">{VAL_CHECKBOX}</td>
			<td class="std">{OBJECT_TITLE}</td>
			<td class="std">{OBJECT_INFO}</td>
		<!-- END exercises -->
  </tr>
<table>
</div>
</div>
