<div id="scoped-content">
<style type="text/css" scoped>

      td{
        text-align: center;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        border-radius: 20px;
        padding: 6px;


      }
      .green-result
      {
      	background: #0c0;
      	color: #000;
      }

      .red-result
       {
         background: red;
         color: #000;
       }
      .grey{

      }
      table{
      margin-left:auto;
      margin-right:auto;

      }
      tr {
        background-color: #FCFCFC;
      }

      tr:nth-child(2n) {
        background-color: #F4F4F4;
      }


  </style>
  <div style="width:33.33%;float: left;">
      <table >
        <!-- BEGIN head_row -->
        <tr> <td >{testTitle}</td> <td>{score}</td> </tr>
        <!-- END head_row -->

        <!-- BEGIN test_results -->
        <tr>
          <td class=""> {Name} </td> {Point}
        </tr>
        <!-- END test_results -->
      </table>
  </div>



<div style="width:33.33%;float:right ">
  <table>
    <tr> <td> {exerciseTitle} </td> <td> {mark} </td> </tr>

      <!-- BEGIN exercise_results -->
      <tr>
        <td class=""> {Exercise} </td>  <td> {Mark} </td> 
      </tr>
      <!-- END exercise_results -->
  </table>
 </div>
</div>
<div style="width: 33%; float: right;">
<p> {average} : {AveragePoints} </p>
<p> {averagePercent} : {Average} % </p>
<p> {studentRanking} :</p>
<p> {toRanking} </p>
<p> {eoRanking} </p>
</div>
